Two consequent slashes are escaped

If I interpret [RCF3986](https://tools.ietf.org/html/rfc3986#section-3.3) correctly, the standard allows empty path segments in URL:

    path-absolute = "/" [ segment-nz *( "/" segment ) ]
    segment-nz    = 1*pchar
    segment       = *pchar

However RESTAssured escapes slashes in the following case:

    given().when().get("/family//info")...

Above results URL:

    /family%2F%2Finfo

Expected:

    /family//info

RESTAssured v3.0.1.

Thanks for pointing out.

Relates to this issue. Sub-delims characters are escaped in a path segment.

According to RFC 3986 Sections 2.2 and 3.3
```
sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
                  / "*" / "+" / "," / ";" / "="
...
      path-abempty  = *( "/" segment )
      path-absolute = "/" [ segment-nz *( "/" segment ) ]
...
      segment       = *pchar
      segment-nz    = 1*pchar
...
      pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
```

In REST Assured 3.0.3
`    given().when().get("/service/any/one,two,three")...`
Actual path
`    /service/any/one%2Ctwo%2Cthree`
Expected path
`    /service/any/one,two,three`

Aforementioned workaround is applicable here as well.


Thanks!

Same issue for parenthesis `(` and `)` are encoded as well which makes RestAssured non-compliant with OData.

Example: `/test(foo)` should remain `/test(foo)`. I faced this issue today because our webserver got `/test%28foo%29` and could not interpret it correctly.

Workaround as suggested using `given().urlEncodingEnabled(false)` solved my issue. Thanks!